.form-section {
  margin-bottom: 30px;
}

.form-section form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form-section input {
  width: 45%;
  height: 30px;
  font-size: 1.3rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.form-section input:focus {
  outline: none;
}
